---
import Layout from '../layouts/Layout.astro';
import UnifiedSearch from '../components/UnifiedSearch.astro';
---

<Layout title="CineGeek">
    <main>
        <UnifiedSearch />
    </main>
</Layout>
